<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2 h-card" href="{{ my_page.url | prepend: site.baseurl }}" >{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-4 sm-width-full left border-top-thin">
              <div class="table">
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3">
                  {% include github.html %}
                </div>
              </div>
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
            </div>

            <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
                <div class="inline-block mt-3 mr-1">
                  {% include dot.html %}
                </div>
                <div class="inline-block mt-3">
                  {% include {{ site.social_link | default: "twitter" }}.html %}
                </div>
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-4">
        <div class="py-2 mb-2 prose h-card">
          <h2 class="h1 lh-condensed col-9 mt-0 p-note">
            Welcome to my page
          </h2>
          <p p-note>
            This is the personal page of Daniel Hahn.
            Leading development at betterplace.org, taking pictures, random
            musings and more. Opinions expressed here are my own (Pronouns: he/him)
          </p>
          <h2 class="h1 lh-condensed col-9 mt-0">
            Where to find things
          </h2>
          <p>
            As most of the time I don't have time to write longer texts, the
            "blog" portion of this page will rarely be updated; and if it
            is the content will be mirrored on Medium as well.
          </p>
          <h3>Professional Stuff</h3>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/daniel-hahn-2b636215" class="text-accent" rel="me">LinkedIn</a>
              and
              <a href="https://www.xing.com/profile/Daniel_Hahn8" class="text-accent" rel="me">Xing</a>
              have all you need to know about my professional experience.
            </li>
            <li>
              <a href="https://github.com/averell23/" class="text-accent" rel="me">
              My github profile</a> shows which projects I have worked on.
            </li>
          </ul>
          <h3>Written Stuff</h3>
          <ul>
            <li>
              Longer texts will still be published here.
            </li>
            <li>
              You will still find all my old writings here, minus the crossposts
              from Twitter.
            </li>
          </ul>
          <h3>Photography</h3>
          <ul>
            <li>
              My <a href="https://www.instagram.com/averell23/" class="text-accent" rel="me">Instagram
              profile</a> will have the pictures of the day.
            </li>
            <li>
              My <a href="http://photography.danielhahn.io" class="text-accent" rel="me">photography site</a> has of
              my images, on various topics.
            </li>
          </ul>
        </div>

        {% for post in site.posts limit: 3 %}
          {% include post_block.html %}
        {% endfor %}
    </div>

    {% include footer.html %}

  </body>

</html>
